.notebox{
    max-width:35%;
    width: auto;
}
.input,:focus{
    outline: 0;
    border-bottom: 1px solid black;
}
.title-text::placeholder{
    font-weight: 500;
    font-size:25px;
    opacity:1;
}
.title-text{
    width:75%;
}
.content-text::placeholder{
    font-size:20px;
    font-weight: 400;
}
.title-text::value{
    font-size: 25px;
}
.update{
    max-width: 100 px;
    width: auto;
}
